<?xml version="1.0"?>

<model>
  <name>TugBot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Open Robotics</name>
    <email>openrobotics@openrobotics.org</email>
  </author>

  <description>
    TugBot mobile robot model for the BEL AMR Fleet simulation.
  </description>
</model>